section#pwa01
     h2 Current State of Mobile Web
     ul
        li.fragment Responsive Web Design  
                img(src="img/2012.jpg") 
        li.fragment Mobile first
        li.fragment Hamburger menu icon 
           img(src="img/hamicon.png")