section#pwa04
    h2 Why should we care           
    p.fragment
        | Nine talks during Google I/0 2016         

    div.fragment        
            img(src="img/usage.jpg") 
            p.quote
                | picture taken from  
                a(href="https://youtu.be/U52dD0tegsA?t=282") Building Progressive Web Apps Today (Chrome Dev Summit 2016) Video       