section#pwa07
    h2 Jake "The Service Worker" Archibald
    a(href="https://jakearchibald.com/") 
        img(src="img/jake.jpg")  
    ul.fr      
        li 
            | Introduced the concept in 2013
        li                        
            a(href="https://www.youtube.com/results?search_query=jake+archibald+service+worker") 
                img(src="img/PWDS.jpg")  
                img(src="img/io16-logo.jpg")              
                img(src="img/CHDS.png")              
        li 
            a(href="https://jakearchibald.github.io/isserviceworkerready/" )
                |is Service Worker Ready