section#pwa02
    h2 in 2017 it's not enough...
    table 
        tr
            td.fragment
                h4 We want to web apps that 
                ul
                    li always work despite of conectivity
                        br 
                        | status
                    li reduce loading time
                    li are proactive        
            td.fragment
                h4 in marketing jargon
                ul            
                    li Reliable                                          
                    li Fast 
                    li Engaging 


        