section#pwa11
   h2 Example
   img(src="img/pwagif.gif" height="450px")  
   p.quote
          | taken from  
          a(href="https://developer.mozilla.org/en-US/Apps/Progressive") gossiplus.com    
