section#pwa10
   h2 Long Story Short
    h3 Progressive Web Apps are
    ul
        li.fragment websites / webapps
        li.fragment with some new features 
        li.fragment with App like use and feel
        li.fragment framework agnostic