section#agenda
    h2 Agenda
    ol
        li.fragment Quick introduction to PWA
        li.fragment To cache or not to cache ?
        li.fragment Not only cookies
        li.fragment Demo
        li.fragment Q &amp;A