section#missed
    h2 Things I havne't mentioned
    ul
        li.fragment
            | Service worker lifecycle and install process
        li.fragment
            | Service worker works only on HTTPS connection
        li.fragment
            | IndexedDB 
        li.fragment 
            | Toolkit for Service Worker