section#title
    h1 Offline capabilities of PWAs
    p
         h2 Paweł Kamiński                 
    p
        strong Apps DE Architects &amp; Engineers Summit 2017
    p
        | Frankfurt 23 March 2017

